@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    /* Margem de espaço de fora = 0 */
    padding: 0;
    /* Espaçamento dos objetos do interior = 0 */
    list-style: none;
    /*Estilo da lista = Nenhuma */
    text-decoration: none;
    /* Decoração dos texto = nenhuma */
}

body {
    background-color: #101f0d;
}

.header {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header {
    margin-bottom: 30px;
    /* Cor de fundo = Branco */
    height: 110px;
    /* Altura = 90 pixels */
    display: flex;
    /* Conteúdo = Flexível */
    justify-content: space-around;
    /* Conteúdo = Espaço entre os itens */
    align-items: center;
    /* Alinhamento dos itens = Centro */
    background-color: rgba(24, 24, 24, 0.6);
    /* fundo preto semi-transparente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* BLUR */
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(1px);
    /* compatibilidade com Safari */
}

nav {
    width: 60%;
    /* Largura = 60% */
    background-color: transparent;
}

#logo {
    background-color: transparent;
    height: auto;
    width: 20%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: transparent;
    gap: 20px;
    flex-wrap: wrap;
}

li {
    list-style: none;
    color: white;
    background-color: transparent;
    cursor: pointer;
    font-size: 19px;
    transition: .2s;
    font-family: "Kdam Thmor Pro", sans-serif;
}

li:hover {
    color: #70bc5e;
}

#lupa-icon {
    background-image: url(./img/lupa.png);
    background-size: cover;
    width: 24px;
    height: 24px;
    background-color: transparent;
    transition: 0.3s;
    border: none;
    padding: 13px;
}

#lupa-icon:hover {
    cursor: pointer;
}

#banner {
    background-image: url("https://wallpapers.com/images/hd/minecraft-forest-wall-bridge-8nwqlzr0b5hcm133.webp");
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 500px;
}

#trailer-container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}

#content {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    background-color: #292929;
    border-radius: 5px;
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.trailer {
    width: 50%;
    border-radius: 5px;
}

#sinopse {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}

.description {
    color: white;
    font-size: 22px;
    font-family: "Pixelify Sans", sans-serif;
    width: 80%;
}

.button {
    width: 200px;
    height: 60px;
    background-color: #2f5c26;
    color: white;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 16px;
    font-family: "Press Start 2p", system-ui;
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: bold;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    outline: none;
    margin-top: 25px;
}

.button:hover {
    background-color: #3f7b32;
}